{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<main>
    {{!-- fetch content from page.index (see routes.yaml) --}}
    {{#page}}
    <header class="index-header">
        <h1>{{title}}</h1>
    </header>

    <article>
        {{{content}}}
    </article>
    {{/page}}
</main>
